/* **** couleurs, paddings, ...  **** */
/*
polices, titres, paragraphes
*/
body,
button {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #242021;
}

p {
    margin: 0;
}

strong,
.bold {
    font-weight: 600;
}

small {
    font-size: 80%;
}

h1,
h2,
.h2,
h3,
.h3 {
    font-weight: 600;
}

h1 {
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
}

@media (min-width: 768px) {
    h1 {
        font-size: 50px;
    }
}

.h2,
h2 {
    font-size: 35px;
    margin-bottom: 30px;
    margin-left: 40px;
}

.h3,
h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}
/*
img, a , nav et autres communs
*/
body {
    padding-top: 50px;
    background-color: #fff;
}

.sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    padding: 0;
    padding-top: 0;
    white-space: nowrap;
    border: 0;
}

main {
    margin-top: 50px;
}

@media (min-width: 768px) {
    main {
        margin-top: 100px;
    }
}

.panel__img,
.accordion__img {
    float: left;
    width: 200px;
    margin: 0 15px 15px 0;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 10px rgba(36, 32, 33, .5);
            box-shadow: 0 3px 10px rgba(36, 32, 33, .5);
}

.panel__img img,
.accordion__img img {
    width: 100%;
}

.nav__menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.nav__menu__list li {
    margin: 0 15px;
}

footer {
    margin-top: 100px;
}

button {
    text-align: left;
}

button[aria-selected='true'],
button[aria-expanded='true'] {
    font-weight: 600;
    background-color: #fff;
}

button[aria-selected='true']:hover,
button[aria-expanded='true']:hover,
button[aria-selected='true']:focus,
button[aria-expanded='true']:focus {
    color: #242021;
}

button[aria-selected='true'] {
    border-right-color: #fff;
}

button[aria-expanded='true'] {
    border-color: #ccc;
}

button,
input[type='submit'] {
    padding: 10px;
    border: 1px solid #242021;
    border-radius: 0;
    background-color: #ccc;
}

button:hover,
input[type='submit']:hover,
button:focus,
input[type='submit']:focus {
    cursor: pointer;
    color: #fff;
    background-color: #666;
}

.accordion button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
}

.accordion__panel {
    padding: 20px 0;
}

.tabs__control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-right: 1px solid #242021;
}

@media (min-width: 768px) {
    .tabs__control {
        padding: 30px 0 30px 15px;
    }
}

.tabs__control button {
    margin-right: -1px;
}

.tabs__control button:first-child {
    border-radius: 10px 0 0 0;
}

.tabs__control button:last-child {
    border-radius: 0 0 0 10px;
}

@media (min-width: 768px) {
    .tabs__panels {
        padding-left: 30px;
    }
}

form fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

form fieldset legend {
    margin-bottom: 20px;
}

form fieldset label {
    font-weight: 600;
    margin-bottom: 5px;
}

form fieldset input,
form fieldset textarea {
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #242021;
}
