/*
img, a , nav et autres communs
*/
body{
	background-color: #fff;
	padding-top: 50px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	  padding-top: 0px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

main {
	margin-top: 50px;
	@media (min-width: @tablet) {
		margin-top: 100px;
	}
}

.panel,
.accordion {
	&__img {
		float: left;
		padding: 10px;
		border-radius: 5px;
		box-shadow: 0px 3px 10px rgba(@base, .5);
		margin: 0 15px 15px 0;
		width: 200px;
		img {
			width: 100%;
		}
	}
}