/*
polices, titres, paragraphes
*/

body,
button {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: @base;
}

p {
	margin: 0;
}
strong,
.bold {
	font-weight: 600;
}
small {
	font-size: 80%;
}

h1,
h2,
.h2,
h3,
.h3 {
	font-weight: 600;
}

h1 {
	font-size: 40px;
	margin-bottom: 30px;
	text-align: center;
	@media (min-width: @tablet) {
		font-size: 50px;
	}
}
.h2,
h2 {
	font-size: 35px;
	margin-left: 40px;
	margin-bottom: 30px;
}
.h3,
h3 {
	font-size: 25px;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

