/* **** couleurs, paddings, ...  **** */
@base: #242021;         // noir
@grey: #666;
@gris-clair: #ccc;


// breakpoints
@mobile: 576px;
@tablet: 768px;
@computer: 992px;
@large: 1200px;
@xlarge: 1400px;