button {
	text-align: left;
	&[aria-selected="true"],
	&[aria-expanded="true"] {
		background-color: #fff;
		font-weight: 600;
		&:hover,
		&:focus {
			color: @base;
		}
	}
	&[aria-selected="true"]{
		border-right-color: #fff;
	}
	&[aria-expanded="true"] {
		border-color: @gris-clair;
	}
}

button,
input[type="submit"] {
	padding: 10px;
	background-color: @gris-clair;
	border: 1px solid @base;
	border-radius: 0;
	&:hover,
	&:focus {
		cursor: pointer;
		background-color: @grey;
		color: #fff;
	}
}
