form {
	fieldset {
		display: flex;
		flex-direction: column;
		legend {
			margin-bottom: 20px;
		}
		label {
			font-weight: 600;
			margin-bottom: 5px;
		}
		input,
		textarea {
			padding: 5px 10px;
			border: 1px solid @base;
			margin-bottom: 10px;
		}
	}
}