.tabs {
	&__control {
		display: flex;
		flex-direction: column;
		border-right: 1px solid @base;
		@media (min-width: @tablet) {
			padding: 30px 0 30px 15px;
		}
		button {
			margin-right: -1px;
			&:first-child {
				border-radius: 10px 0 0 0;
			}
			&:last-child {
				border-radius: 0 0 0 10px;
			}
		}
	}
	&__panels {
		@media (min-width: @tablet) {
			padding-left: 30px;
		}
	}
}